<h5>Exemplo de pipes</h5>

<input type="text" [value]="titulo" (input)="titulo = $event.target.value">

<p style="text-transform:none">Título: {{ titulo | camelCase }}</p>
<p>Estrelas: {{ livro.rating | number:'1.1-1'}}</p>
<p>Páginas: {{ livro.numeroPaginas}}</p>
<p>Preço: {{ livro.preco | currency:'BRL'}}</p>
<p>Data de Lançamento: {{ livro.dataLancamento | date:'dd/MM/yyyy' }}</p>
<p>Url: {{ livro.url }}</p>
<br>
<p>Livro {{ livro }}</p>

<!-- <input type="text" [(ngModel)]="filtro"> -->

<input type="text" #novoValor>
<button (click)="addCurso(novoValor.value)">Add curso</button>


<h5>Pipe Puro</h5>

<ul>
    <li *ngFor="let liv of livros | filtroArray:'filtro'">
        {{ liv }}
    </li>    
</ul>

<h5>Pipe Impuro</h5>

<ul>
    <li *ngFor="let liv of livros | filtroArrayImpuro:'filtro'">
        {{ liv }}
    </li>    
</ul>


<h5>Maneira correta de usar filtros em projetos</h5>

<ul>
    <li *ngFor="let liv of obterCursos()">
        {{ liv }}
    </li>    
</ul>

<p> {{ valorAsync | async }} </p>

<p> {{ valorAsync2 | async }} </p>
